@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  html[data-theme="light"] {
    --color-primary: 21, 79, 102;
    --color-secondary: 66, 118, 138;
    --color-accent: 252, 163, 17;
    --color-fill: 255, 255, 247;
    --color-base: 1, 22, 30;
    --color-border: 141, 174, 185;
    --color-muted: 198, 225, 234;
  }
  html[data-theme="dark"] {
    --color-primary: 21, 79, 102;
    --color-secondary: 66, 118, 138;
    --color-accent: 252, 163, 17;
    --color-fill: 1, 22, 30;
    --color-base: 255, 255, 247;
    --color-border: 141, 174, 185;
    --color-muted: 255, 222, 169;
  }
  html {
    scroll-behavior: smooth;
  }
  #light-off-svg,
  html[data-theme="dark"] #light-on-svg {
    display: none;
  }
  #light-off-svg,
  html[data-theme="dark"] #light-on-svg {
    display: block;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-wider text-base my-4;
  }
  h1 {
    @apply text-3xl sm:text-7xl md:text-8xl;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-2xl;
  }
  p {
    @apply mb-4;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-fill font-body text-base
    selection:bg-accent selection:bg-opacity-70;
  }
  section {
    @apply mx-auto max-w-4xl px-4 sm:mx-8;
  }
  footer {
    @apply mx-0 max-w-full;
  }
  ul {
    @apply list-disc pb-4;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-border bg-opacity-70;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}