---
import Dots from "./Dots.astro";
---

<section id="about">
  <div class="about-header">
    <div class="about-title">
      <h2>About</h2>
    </div>
    <div class="about-title-line"></div>
  </div>
  <div class="about-body">
    <div class="about-image">
      <img class="about-img-src" src="/headshot.jpg" alt="Juliane Cassidy" />
      <div class="about-dots">
        <Dots dotColor={"#FCA311"} />
      </div>
    </div>
    <div class="about-content">
      <p>
        I'm a software engineer focused on building intuitive apps, leveraging
        data, and making the decisions that will enable scaling.
      </p><p>
        In my work, I am an enthusiastic problem solver always looking for the
        next learning opportunity. My favorite days are those that involve a
        bug. I bring a curiosity to working in teams, creating space for
        multiple ideas and exploration. I also prioritize self-sufficiency and
        independent learning. My workflow blends AI, a healthy skepticism, and a
        focus on thoughtful code for elegant solutions without sacraficing
        speed.
      </p><p>
        Before transitioning into software engineering, I worked in web
        development, helping companies build their digital presence. I also
        worked in database administration for nonprofits where I promoted
        strategies to better leverage CRMs, data hygiene, data security, and
        training.
      </p><p>
        I am Denver, CO-based but usually traveling - often with my dog along
        for the adventure. I also spend time hiking, climbing, and
        <a href="https://speedpuzzling.com">competitively jigsaw puzzling</a>.
        When I need a break from tech, I am a historical reenactor and you might
        spot me in Victorian garb.
      </p>
    </div>
  </div>
</section>

<style>
  #about {
    @apply mb-3;
  }
  .about-header {
    @apply text-center relative w-72 mx-auto mt-6 mb-12;
  }
  .about-title {
    @apply relative z-20;
  }
  .about-title-line {
    @apply bg-accent w-28 sm:w-36 h-6 absolute -bottom-2 right-6 sm:right-0 z-10;
  }
  .about-body {
    @apply flex flex-wrap gap-x-8 md:gap-x-16 justify-center sm:justify-start sm:flex-nowrap;
  }
  .about-image {
    @apply relative mb-4 sm:mb-0 sm:w-5/12;
  }
  .about-image img {
    @apply max-w-72 relative z-10;
  }
  .about-dots {
    @apply hidden sm:block absolute bottom-28 md:bottom-16 -right-7 z-0;
  }
</style>
