---

---
<section id="about">
    <div class="about-title">
        <h2>About</h2>
    </div>
    <div class="about-image">
        <img
            class="about-img-src"
            src="/headshot.jpg"
            alt="Juliane Cassidy"
        />
        <svg></svg>
    </div>
    <div class="about-content">
        <p>Lorem ipsum.</p>
    </div>
</section>