---
import ContactForm from "@components/ContactForm";

---
<section id="contact">
    <div class="contact-title">
        <h2>Get In Touch</h2>
    </div>
    <ContactForm client:load />
    <div class="contact-content">
        <p>Lorem ipsum.</p>
        <div class="contact-links">
            <a href="mailto:julianecassidy@gmail.com"><svg></svg></a>
            <a href="https://www.linkedin.com/in/julianemcassidy/"><svg></svg></a>
            <a href="https://github.com/julianecassidy"><svg></svg></a>
        </div>
    </div>
</section>