<footer>
    <div class="footer">
        <p>&copy 2024 Juliane Cassidy</p>
    </div>
</footer>

<style>
    .footer {
        @apply absolute bottom-0  w-full bg-primary pt-3 pb-1 text-fill text-center;
    }
</style>