---
export interface Props {
    pageTitle: string;
    pageDesc: string;
    accentText?: string;
}

const { pageTitle, pageDesc, accentText } = Astro.props;
const formattedTitle = "{ " + pageTitle.toLowerCase() + " }";
const formattedAccent = accentText?.toLowerCase();
---

<header>
    <div class="header">
        {accentText && <div class="header-accent">{accentText}</div>}
        <div class="header-title">
            <h1>{formattedTitle}</h1>
        </div>
        <hr />
        <div class="header-desc">
            {pageDesc}
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex flex-wrap content-center mx-8 my-12;
    }
    .header-title {
        @apply w-11/12 text-center my-5;
    }
    .header-accent {
        @apply font-serif text-accent text-6xl ml-12;
    }
    hr {
        @apply w-6/12 border-4 border-accent mx-auto mt-2 mb-5;
    }
    .header-desc {
        @apply font-sans text-3xl text-center;
    }
</style>
