---
export interface Props {
    pageTitle: string;
    pageDesc?: string;
    accentText?: string;
}

const { pageTitle, pageDesc, accentText } = Astro.props;
const formattedTitle = "{ " + pageTitle.toLowerCase() + " }";
const formattedAccent = accentText?.toLowerCase();
---

<header>
    <div class="header">
        {accentText && <div class="header-accent">{formattedAccent}</div>}
        <div class="header-title">
            <h1>{formattedTitle}</h1>
        </div>
        <hr />
        <div class="header-desc">
            {pageDesc}
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex flex-wrap content-center mx-8 mt-16 my-24;
    }
    .header-title {
        @apply w-11/12 text-center my-5 mx-auto;
    }
    .header-accent {
        @apply hidden sm:block sm:font-serif text-accent sm:text-4xl md:text-6xl
        ml-12 lg:ml-72;
    }
    hr {
        @apply w-6/12 max-w-md border-2 sm:border-4 border-accent mx-auto mt-2 mb-5;
    }
    .header-desc {
        @apply w-full font-sans text-xl sm:text-3xl text-center mx-auto;
    }
</style>
