---
import { SKILLS } from "@config";
import Skill from "@components/Skill.astro"

---
<section id="skills">
    <div class="skills-title">
        <h3>Skills</h3>
    </div>
    <div class="skills-list">
        {SKILLS.map(s => <Skill skill={s} />)}
    </div>
</section>