---
import type { Skill } from "../types";
import { SKILLS } from "@config";
import SkillCard from "@components/SkillCard.astro";
---

<section id="skills">
  <div class="skills-left">
    <div class="skills-header">
      <div class="skills-title">
        <h3>Skills</h3>
      </div>
      <div class="skills-title-line title-line-parallax" data-speed="0.2"></div>
    </div>
  </div>
  <div class="skills-list">
    {SKILLS.map((s: Skill) => <SkillCard skill={s} />)}
  </div>
</section>

<style>
  #skills {
    @apply flex flex-wrap my-16 sm:flex-nowrap;
  }
  .skills-left {
    @apply flex flex-wrap justify-center sm:self-start ml-24 sm:ml-16 md:ml-12 sm:w-1/4 sm:mt-12;
  }
  .skills-header {
    @apply text-center relative w-full sm:w-72 mx-auto mt-6 mb-12;
  }
  .skills-title {
    @apply relative z-20;
  }
  .skills-title-line {
    @apply bg-secondary w-28 sm:w-36 h-6 absolute bottom-2 -left-20 sm:right-0 z-10;
  }
  .skills-list {
    @apply flex flex-wrap justify-center gap-12;
  }
</style>
