---
import Nav from "@components/Nav.astro";
import Footer from "@components/Footer.astro";
import BackToTop from "@components/BackToTop.astro";
import SocialBar from "@components/SocialBar.astro";
---

<main id="main-content">
  <Nav />
  <SocialBar />
  <slot />
  <BackToTop />
  <Footer />
</main>

<style></style>
