---
import { BlogApi } from "@utils/blogApi";

const tags = await BlogApi.getTags();

---

<section id="blog">
    <div class="blog-content">
        <slot />
    </div>
    <div class="blog-tags">
        <h4>Explore More</h4>
        <ul>
            {tags.map(tag => (
                <a href={`/tags/${tag.id}-${tag.name}`}><li>{tag.name}</li></a>
            ))}
        </ul>
    </div>
</section>

<style>
    #blog {
        @apply flex flex-wrap justify-center mb-12 mx-8 max-w-full sm:flex-nowrap;
    }
    .blog-content {
        @apply w-full sm:w-5/6;
    }
    .blog-tags {
        @apply w-full border-t-2 sm:border-t-0 sm:border-l-2 border-accent font-display uppercase text-primary
        pl-8 sm:w-1/6 sm:pl-12;
    }
    .blog-tags h4 {
        @apply text-primary;
    }
    .blog-tags ul {
        @apply list-none pt-4;
    }
    .blog-tags li {
        @apply py-1 hover:text-base;
    }
</style>